@model Exam2.Models.Attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleAttended.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleAttended.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentAttended.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAttended.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Present)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-warning btn-xs" }, new { id = Model.AttendanceID })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-xs" })
</p>
