@model IEnumerable<Exam2.Models.Module>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ModuleID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Edit", "Edit", new { id = item.ModuleID }, new { @class = "btn btn-warning btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ModuleID }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
